@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #04071e;
    --foreground: #ffffff;
    --primary: #ffe259;
    --secondary: #ffa751;
    --accent: #1b1d32;
    --border: rgba(255, 255, 255, 0.2);
  }
}

@layer base {
  body {
    @apply relative w-full min-h-screen bg-background text-foregorund text-sm flex flex-col overflow-x-hidden;
  }
}
